# Django
SECRET_KEY=
DEBUG=True

# PostgreSQL
DB_NAME=web
DB_USER=web_user
DB_PASSWORD=123123
DB_HOST=web-postgres
DB_PORT=5432

# MinIO
MINIO_ENDPOINT=web-minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio124
MINIO_USE_SSL=False

# CORS
CORS_ALLOWED_ORIGINS=
