{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="header">
    <span class="header-text">Обращение</span>
</div>
<div class="appeal-list-content">
    {% for item in items %}
    <div class="appeal-content">
        <img class="appeal-content-img" src="{{item.image}}" alt="appealImg">
        <div class="appeal-content-details">
            <div class="appeal-content-details-header">{{item.name}}</div>
            <div class="appeal-content-details-count">
                <div>Количество</div>
                <input class="appeal-content-details-count-input" type="number" value="{{item.count}}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}