{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="header">
    <span class="header-text">Обращение</span>
</div>
<form method="post" action="{% url 'appeal_delete' %}">
    {% csrf_token %}
    <button class="appeal-delete-button">Удалить</button>
</form>
<div class="appeal-list-content">
    {% for issue in issues %}
    <div class="appeal-content">
        <img class="appeal-content-img" src="{{issue.image}}" alt="appealImg">
        <div class="appeal-content-details">
            <div class="appeal-content-details-header">{{issue.name}}</div>
            <div class="appeal-content-details-count">
                <div>Количество</div>
                <input class="appeal-content-details-count-input" type="number" value="{{issue.count}}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}