{% load static %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Удаленная поддержка | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css", href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="nav">
            <div class="nav-home">
                <a href="{% url 'index' %}">Главная</a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>