{% load static %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Удаленная поддержка | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css", href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="nav">
            <div class="nav-home">
                <a href="{% url 'index' %}">Главная</a>
            </div>
            <a href="{% url 'cart' userCartId %}">
                <div class="nav-cart">
                    <img src="{% if cartAmount > 0 %}{% static 'icon/cart.svg' %}{% else %}{% static 'icon/cart-empty.svg' %}{% endif %}" alt="cart">
                    {% if cartAmount > 0 %}
                    <div class="nav-cart-count">{{ cartAmount }}</div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>