{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="main-header">
    <div class="search-bar">
        <form action="" method="get">
            <input name="issue_name" class="search-bar-input" value="{{ search }}" type="text" placeholder="Введите искомое происшествие" autocomplete="off">
            <button type="submit" class="search-bar-button">Поиск</button>
        </form>
    </div>
    <div class="header-appeal-content">
        <a href="{% if userAppealId == -1 %}# {% else %}{% url 'appeal' userAppealId %} {% endif %}">
            <img src="{% if appealAmount > 0 %}{% static 'icon/appeal.svg' %}{% else %}{% static 'icon/appeal-empty.svg' %}{% endif %}" alt="cart">
            {% if appealAmount > 0 %}
            <div class="appeal-count">{{ appealAmount }}</div>
            {% endif %}
        </a>
    </div>
</div>
<div class="content">
    {% for issue in issues %}
    <div class="product-card">
        <img class="product-card-img" src="{{ issue.data.image }}">
        <div class="product-card-title">{{ issue.data.name }}</div>
        <div class="product-card-details">
            <form method="post" action="{% url 'issue_add' issue.data.id %}">
                {% csrf_token %}
                <button {% if not issue.canAdd %} hidden {% endif %} class="product-card-add-button">Добавить</button>
            </form>
            <a href="{% url 'issue' issue.data.id %}"><button class="product-card-details-button">Подробнее</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}