{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="main-header">
    <div class="search-bar">
        <form action="" method="get">
            <input name="search" class="search-bar-input" value="{{ search }}" type="text" placeholder="Введите поисковый запрос" autocomplete="off">
            <button type="submit" class="search-bar-button">Поиск</button>
        </form>
    </div>
    <div class="appeal-content">
        <a href="{% url 'appeal' userAppealId %}">
            <img src="{% if appealAmount > 0 %}{% static 'icon/appeal.svg' %}{% else %}{% static 'icon/appeal-empty.svg' %}{% endif %}" alt="cart">
            {% if appealAmount > 0 %}
            <div class="appeal-count">{{ appealAmount }}</div>
            {% endif %}
        </a>
    </div>
</div>
<div class="content">
    {% for item in items %}
    <a class="product-card" href="{% url 'item' item.id %}">
        <div>
            <img class="product-card-img" src="{{ item.image }}">
            <div class="product-card-title">{{ item.name }}</div>
            <div class="product-card-details">
                <button class="product-card-details-button">Подробнее</button>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}