{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="search-bar">
    <form action="" method="post">
        {% csrf_token %}
        <input name="search" class="search-bar-input" value="{{ search }}" type="text" placeholder="Введите поисковый запрос">
        <button type="submit" class="search-bar-button">Поиск</button>
    </form>
</div>
<div class="content">
    {% for item in items %}
    <div class="product-card">
        <img class="product-card-img" src="{{ item.image }}">
        <div class="product-card-title">{{ item.name }}</div>
        <div class="product-card-details">
            <span class="product-card-details-price">{{ item.price }} ₽</span>
            <a href="#"><button class="product-card-details-button">Подробнее</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}